/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
}
#tocToggler {
	display: none;
}

.post a {
	color: #9baab5;
}
.post a:hover {
	color: orange;
	border-bottom: 1px dotted;
}
